<section class="section section--intro">
  <div class="container">

    <div class="section__header">
      <h2 class="section__title">{{ with .Site.Params.intro.title }}{{ . | markdownify }}{{ end }}</h2>
      <h3 class="section__subtitle">{{ with .Site.Params.intro.subtitle }}{{ . | markdownify }}{{ end }}</h3>
    </div><!-- /.section__header -->

    <div class="section__body">
      <div class="l-grid">
        {{ range .Site.Params.intro.row }}
          {{ range .list }}
            <div class="l-col">
              <h4 class="section__body__title">{{ .title | markdownify}}</h4>
              <p class="section__body__paragraph">{{ .description | markdownify}}</p>
            </div>
          {{ end }}
        {{ end }}
      </div>
    </div><!-- /.section__body -->
  </div>
</section><!-- /.section -->
