{{ partial "header.html" . }}

<section class="content">

  <div class="posts">
    {{ $paginator := .Paginate (where .Data.Pages "Type" "post") }} {{ range $paginator.Pages }}

    <article class="post">

      <!-- Post header -->
      <header class="post__header">
        <div class="container">
          <h2 class="post__title"><a class="post__url" href="{{ .Permalink }}">{{ .Title }}</a></h2>
          {{ partial "meta.html" . }}
        </div>
      </header>

      <!-- Post body -->
      <div class="post__body">
        <div class="container">
          {{ if .Site.Params.Summary }}
          <div class="summary">
            <p class="summary__content">{{ .Summary }}</p>
            <a class="read-more btn summary__btn" href="{{ .RelPermalink }}">Read more</a>
          </div>
          {{ else if .Site.Params.Content }}
          <div class="content">
            {{ .Content }}
          </div>
          {{ end }}
        </div>
      </div>

    </article><!-- /.post -->
    {{ end }}

    {{ partial "pagination.html" . }}

  </div><!-- /.posts -->

</section><!-- /.content -->

{{ partial "footer.html" . }}
