<section class="hero hero--front" style="background-image: url('{{ .Site.BaseURL }}/img/ortler.jpg')">
  <div class="hero__inner filter-overlay">
    <div class="container">
        <div class="hero__body">
        <h1 class="hero__title">{{ .Site.Title }}</h1>
        <h2 class="hero__subtitle">{{ .Site.Params.Subtitle }}</h2>
        <p class="hero__paragraph">{{ .Site.Params.Description }}</p>

        <a class="btn btn--large btn--primary hero__btn" href="#">Learn more</a>
      </div>
    </div>
  </div>
</section><!-- /.hero -->
